div.my-call {
  box-shadow: unset;
  background: transparent;
}

div.my-calls-column {
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

div.div-padding {
  padding: 0;
}

h3.detail-heading {
  color: #5a5a5a;
  letter-spacing: 1px;
}

span.detail-heading-span {
  color: #1a0059;
}

div.white-box-header {
  border: none;
}

div.white-box-global {
  min-height: unset;
}

td.ZCRtd {
  text-align: center;
}

div.ZCRdiv {
  display: inline-block;
}

.wavesurfer-region {
  border: 0px solid #ddd !important;
}
.wavesurfer-handle {
  border: 0px solid #ddd !important;
  background-color: rgb(255 255 255) !important;
}
